#cabecalho{
    background-color: purple;
    color:white
}
#verde{
    width: 70vh;
    height: 60vh;
    background-color: green;
    border-radius: 9px;

}

img{
    border-radius: 9px;
    width: 20 ;
}
